
<!-- Main Content -->
<section class="content">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2><i class="fa fa-home"></i>Update Password  <div id="google_translate_element"></div></h2>
                    <button style="background:#00A9E3;" class="btn btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div style="margin:auto;" class="col-lg-6 col-sm-12 col-md-10">
                    <div class="card">
                        <div class="body">
                            <form action="../../coin-manager.php?action=password-update" method="post">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <small class="text-muted"><b>Current Password:</b> </small>
                                        <input type="hidden" value="johndoe" name="username">
                                        <input type="hidden" name="current_password" value="johndoe123">
                                        <input style="text-align:center" class="form-control" type="text" name="cpassword" id="password">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <small class="text-muted"><b>New Password:</b> </small>
                                        <input style="text-align:center; font-size:18px;" class="form-control" required type="password" name="password" id="password" placeholder="New Password">
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <small class="text-muted"><b>Retype New Password:</b> </small>
                                        <input style="text-align:center; font-size:18px;" class="form-control" required type="password" name="password2" id="password2" placeholder="Retype New Password">
                                    </div>
                                </div>
                                <hr>
                                <div class="card">
                                    <div style="margin:auto; text-align:center;" class="col-lg-6 col-sm-10">
                                        <br>
                                        <p><strong>Ensurer you select a secured password</strong></p>
                                        <small class="text-muted"> <b>~~~</b></small>
                                        <ul class="social-links list-unstyled">
                                            <input type="submit" style="border-radius:10px; background-color:#00A9E3;" class="btn" value="Change Password">
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>

