

<!-- Main Content -->
<section class="content">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2><i class="fa fa-home"></i> Frequently Asked Questions <div id="google_translate_element"></div></h2>
                    <button style="background:#00A9E3;" class="btn btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-12">
                    <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
                    <coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div style="margin:auto;" class="col-sm-12 col-lg-8 col-md-10">
                    <ul class="cbp_tmtimeline">
                        <li>
                            <div class="cbp_tmicon bg-info"><i class="zmdi zmdi-label"></i></div>
                            <div class="cbp_tmlabel">
                                <div class="cbp_tmtime">
                                    <span>2020-06-21 12:21PM</span> <span></span>
                                </div>
                                <h5><a href="javascript:void(0);">Art Ramadani:</a> <br><span>Question: How To Trade Bitcoin?</span></h5>
                                <p>
                                    <b>
                                        Ans:
                                    </b>
                                    The spread is the difference between the price at which you can buy a
                                    currency (the offer price) and the price at which you can sell it
                                    (the bid price). In a very liquid market, where great quantities of
                                    currency are being traded, this difference will generally be smaller
                                    than in less liquid markets, where smaller quantities are being traded.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon bg-green"> <i class="zmdi zmdi-case"></i></div>
                            <div class="cbp_tmlabel">
                                <div class="cbp_tmtime">
                                    <span>2019-11-04 03:45AM</span> <span></span>
                                </div>
                                <h5><a href="javascript:void(0);">Allen Ferguson</a> <br> <span>Question: How Is The Forex Trading Spread Calculated?</span></h5>
                                <p><b>Ans:</b>
                                    Once you have cryptocurrency —such as Bitcoin or Ethereum— in your blockchain wallet, you can easily send it to others. There are three ways to send cryptocurrencies using blockchain: 1.Sending to a wallet address
                                    2.Sending it to someone's email address or mobile number (Bitcoin only) 3.Scanning a QR code
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon bg-blush"><i class="zmdi zmdi-pin"></i></div>
                            <div class="cbp_tmlabel">
                                <div class="cbp_tmtime">
                                    <span>2019-12-30 03:45AM</span> <span></span>
                                </div>

                                <h5><a href="javascript:void(0);">Arlind Nushi</a> <span>What About The Trading With Coin Rocket Trades Investment??</span> <a href="javascript:void(0);">New York</a></h5>
                                <blockquote>
                                    <div class="blockquote">
                                        <b>Ans:</b>
                                        Coin Rocket Trades Investment, also known as foreign exchange, BZ or currency trading, is a decentralized global market where all the world's currencies trade. The Coin Rocket Trades Investment market is the largest, most liquid market in the world with an average daily trading volume exceeding $5 trillion.
                                        <br><br>
                                        <small>- Isabella</small>
                                    </div>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon bg-blush"><i class="zmdi zmdi-pin"></i></div>
                            <div class="cbp_tmlabel">
                                <div class="cbp_tmtime">
                                    <span>2018-08-30 02:29PM</span> <span></span>
                                </div>

                                <h5><a href="javascript:void(0);">Arlind Nushi</a> <span>What Is Market-Neutral Execution?</span></h5>
                                <blockquote>
                                    <div class="blockquote">
                                        When you trade forex with a spread betting or CFD
                                        provider you are not actually exchanging any currency. Rather you are taking a position against your provider on the performance of a particular forex pair: if you are right you make a profit,
                                        if you are wrong your provider makes a profit.
                                        <br><br>
                                        <small>- Isabella</small>
                                    </div>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon bg-green"> <i class="zmdi zmdi-case"></i></div>
                            <div class="cbp_tmlabel">
                                <div class="cbp_tmtime">
                                    <span>2017-01-28 01:20PM</span> <span></span>
                                </div>
                                <h5><a href="javascript:void(0);">Mark Rudiger </a><b> Question:</b> What Is A Forex Pair?</h5>
                                <p><b>Ans:</b>The foreign exchange market is grouped into pairs of
                                    currencies, showing the exchange rate for trading one currency for another.
                                    Some popular forex pairs include GBP/USD, EUR/USD and USD/JPY.</p>
                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon bg-blush"><i class="zmdi zmdi-pin"></i></div>
                            <div class="cbp_tmlabel">
                                <div class="cbp_tmtime">
                                    <span>2015-04-11 03:45PM</span> <span></span>
                                </div>
                                <h5><a href="javascript:void(0);">Rose Bieber</a> <span><b>Question:</b> How Can I Contact With You?</span> </h5>
                                <blockquote><b>Ans:</b>
                                    You can contact us with the details above <br>
                                    or email us now on: support@megaminingtrade.xyz
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>
