<section class="content file_manager">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2><i class="fa fa-home"></i> Choose a Deposit - Payment Methods <div id="google_translate_element"></div></h2>
                    <button style="background:#00A9E3;" class="btn btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-12">
                    <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
                    <coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="tab-pane" id="pdf">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="file">
                                            <a href="/pay-using-bitcoin">
                                                <div class="hover">
                                                    <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                        <i class="zmdi zmdi-balance-wallet"></i>
                                                    </button>
                                                </div>
                                                <div class="icon">
                                                    <img style="height:60%; width:60%;" src="/private/assets/images/payment-method/coincloud.png" alt="" srcset="">
                                                </div>
                                                <div class="file-name">
                                                    <p style="text-align:center;" class="m-b-5">
                                                        <strong>
                                                            Make Payment Using Bitcoin
                                                            Directly from CoinCloud
                                                        </strong>
                                                    </p>
                                                    <small>Most Popular <span class="date text-muted">Fastest, Secured and Flexible</span></small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="file">
                                            <a href="/pay-using-bitcoin">
                                                <div class="hover">
                                                    <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                        <i class="zmdi zmdi-balance-wallet"></i>
                                                    </button>
                                                </div>
                                                <div class="icon">
                                                    <img style="height:120px; width:140px;" src="/private/assets/images/payment-method/bitpay.png" alt="" srcset="">
                                                </div>
                                                <div class="file-name">
                                                    <p style="text-align:center;" class="m-b-5">
                                                        <strong>
                                                            Make Payment Using Bitcoin
                                                        </strong>
                                                    </p>
                                                    <small>Fast <span class="date text-muted">Secured</span></small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
